<div class="container my-4">
    <h2 class="mb-4 text-center">Add New Product</h2>
    <form id="addProductForm" class="row" [formGroup]="productForm" (submit)="onSubmit()">
        <div class="col-lg-6">
            <!-- Product Details -->
            <div class="form-section">
                <h3>Product Details</h3>
                <div class="mb-3">
                    <label for="productId" class="form-label">Product ID:</label>
                    <input type="text" class="form-control" id="productId" name="productId" value="Auto" readonly>
                </div>

                <div class="mb-3">
                    <label for="productName" class="form-label">Product Name:</label>
                    <input type="text" class="form-control" id="name" name="name" formControlName="name">
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description:</label>
                    <textarea class="form-control" id="description" name="description" formControlName="description"
                        rows="3"></textarea>
                </div>
            </div>
            <!-- Stock -->
            <div class="form-section">
                <h3>Stock</h3>
                <div class="mb-3">
                    <label for="quantity" class="form-label">Quantity:</label>
                    <input type="number" class="form-control w-25" name="quantity" formControlName="quantity"
                        id="quantity" value="0" min="0">
                </div>
            </div>
            <!-- Stock and Bestseller -->
            <div class="form-section">
                <h3>Status</h3>
                <div class="form-check form-switch mb-3">
                    <input class="form-check-input" type="checkbox" name="isInStock" formControlName="isInStock"
                        id="isInStock" checked>
                    <label class="form-check-label" for="isInStock">In Stock</label>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="isBestSeller" name="isBestSeller"
                        formControlName="isBestSeller">
                    <label class="form-check-label" for="isBestSeller">Bestseller</label>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <!-- Pricing -->
            <div class="form-section">
                <h3>Pricing</h3>
                <div class="row g-3">
                    <div class="col-md-4">
                        <label for="original_price" class="form-label">Original Price:</label>
                        <input type="number" class="form-control" id="original_price" name="original_price"
                            formControlName="original_price">
                    </div>

                    <div class="col-md-4">
                        <label for="current_price" class="form-label">Current Price:</label>
                        <input type="number" class="form-control" id="current_price" name="current_price"
                            formControlName="current_price">
                    </div>

                    <div class="col-md-4">
                        <label for="price_unit" class="form-label">Price Unit:</label>
                        <input type="text" class="form-control" id="price_unit" name="price_unit"
                            formControlName="price_unit">
                    </div>
                </div>
            </div>
            <!-- Colors -->
            <div class="form-sectiom">
                <div class="mb-3">
                    <div class="d-flex align-items-center">
                        <button class="btn border rounded-circle my-2" (click)="addVariant($event)">
                            <span class="icon">+</span>
                        </button>
                        <h3 class="mb-0">Add variant</h3>
                    </div>
                    <div *ngFor="let variant of variants; let i = index" class="row border m-0">
                        <div class="col-12">
                            <div class="row m-0 py-2">
                                <div class="col-6 d-flex gap-3">
                                    <input type="color" class="form-control form-control-color border border-0"
                                        [id]="'colorInput' + i" [value]="variant.color_name" title="Choose your color"
                                        name="color_code" id="color_code" formControlName="color_code">
                                    <input type="text" class="form-control w-50" placeholder="Color name"
                                        name="color_name" id="color_name" formControlName="color_name">
                                </div>
                                <div class="col-6"><button class="btn" (click)="removeVariant(i)">X</button></div>
                            </div>
                        </div>

                        <div class="col-12">
                            <ngx-dropzone (change)="onSelect($event,i)">
                                <ngx-dropzone-label>Drop it, baby!</ngx-dropzone-label>
                                <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview"
                                    *ngFor="let f of variant.images" [file]="f" [removable]="true"
                                    (removed)="onRemove(f,i)">
                                    <!-- <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label> -->
                                </ngx-dropzone-image-preview>
                            </ngx-dropzone>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Sizes -->
            <div class="form-section">
                <div class="mb-3">
                    <div class="d-flex align-items-center">
                        <button class="btn border rounded-circle my-2" (click)="addSize($event)">
                            <span class="icon">+</span>
                        </button>
                        <h3 class="mb-0">Add size</h3>
                    </div>
                </div>
                <div *ngFor="let size of sizes; let i = index" class="row border m-0">
                    <div class="col-12">
                        <div class="row m-0 py-2">
                            <div class="col-6 d-flex gap-3">
                                <input type="text" class="form-control w-50" placeholder="Size" name="size" id="size"
                                    formControlName="size">
                            </div>
                            <div class="col-6"><button class="btn" (click)="removeSize(i)">X</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Submit Button -->
        <button type="submit" class="btn btn-outline-primary col">Add Product</button>
    </form>
</div>