<div class="container d-flex align-items-center justify-content-center mt-3">
    <form class="form-login w-75 p-4" [formGroup]="loginForm" (submit)="onSubmit()">
        <div class="title text-center">
            <h1 class="mb-3">Đăng nhập</h1>
        </div>
        <div class="body-form d-flex flex-column gap-2">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email</label>
                <input name="email" type="email" class="form-control" id="email" formControlName="email" autofocus>
                <div *ngIf="email && email.hasError('required')" class="text-danger">Email is required</div>
                <div *ngIf="email && email.hasError('minlength')" class="text-danger">Email must be at least 10
                    characters</div>
                <div *ngIf="email && email.hasError('email')" class="text-danger">Email is not valid</div>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input name="password" type="password" class="form-control" id="pass" formControlName="pass">
                <div *ngIf="pass && pass.hasError('required')" class="text-danger">Password is required</div>
                <div *ngIf="pass && pass.hasError('minlength')" class="text-danger">Password must be at least 5
                    characters</div>
            </div>
            <button type="submit" class="btn btn-outline-primary w-100" [disabled]="!loginForm.valid">Đăng nhập</button>
            <div class="forgot-password d-flex align-items-center justify-content-between">
                <a class="text-decoration-none text-primary" href="#">Quên mật khẩu</a>
                <a class="text-decoration-none text-primary" href="#">Đăng nhập với SMS</a>
            </div>
            <div class="or text-center">Hoặc</div>
            <div class="application d-flex align-items-center justify-content-center gap-4">
                <a href="#" class="btn border w-50 d-flex align-items-center justify-content-center">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Facebook_Logo_%282019%29.png/1200px-Facebook_Logo_%282019%29.png"
                        alt="" style="width: 22px; height: 22px;">
                    <span>Facebook</span></a>
                <a href="#" class="btn border w-50 d-flex align-items-center justify-content-center"><img
                        src="https://i.pinimg.com/originals/74/65/f3/7465f30319191e2729668875e7a557f2.png" alt=""
                        style="width: 22px; height: 22px;">
                    <span>Google</span></a>
            </div>
        </div>
        <div class="text-center mt-2">
            <span>Bạn mới biết đến LunggShop?</span>
            <a class="text-decoration-none text-primary" href="#" routerLink="/register">Đăng ký</a>
        </div>
        <div *ngIf="loginFlag" class="alert alert-success mt-3" role="alert">
            {{message}}
        </div>
    </form>
</div>