<div className="row mt-3">
  <div id="carouselExampleCaptions" className="carousel slide col-md-12" data-bs-ride="carousel">
    <div className="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" className="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div className="carousel-inner">
      <div className="carousel-item active">
        <img src="https://cf.shopee.vn/file/vn-50009109-3b4844af326ff3b9c1e1793d0dbda9f3_xxhdpi"
          className="d-block w-100" alt="Slide 1">
      </div>
      <div className="carousel-item">
        <img src="https://cf.shopee.vn/file/vn-50009109-a538e2d3368c9c10f3030c5b492e1e61_xxhdpi"
          className="d-block w-100" alt="Slide 2">
      </div>
      <div className="carousel-item">
        <img src="https://cf.shopee.vn/file/vn-50009109-609d8070102e6f55e4513febfb3d63b5_xxhdpi"
          className="d-block w-100" alt="Slide 3">
      </div>
    </div>
    <button className="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
      data-bs-slide="prev">
      <span className="carousel-control-prev-icon" aria-hidden="true"></span>
      <span className="visually-hidden">Previous</span>
    </button>
    <button className="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
      data-bs-slide="next">
      <span className="carousel-control-next-icon" aria-hidden="true"></span>
      <span className="visually-hidden">Next</span>
    </button>
  </div>
</div>

<div className="row justify-content-center align-items-center mt-3 mb-5">
  <div className="col-md-3 col-sm-6 mt-2" *ngFor="let p of products">
    <app-product [data]="p" (dataChange)="calTotal()"></app-product>
  </div>
</div>